/* 全体 */
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  background-color: #fdfdfd;
  color: #4f6457;
}
/* ヘッダー */
.header {
  padding: 24px 32px;
  font-weight: bold;
  background-color: #75b1a9;
  color: #fdfdfd;
  text-align: center;
}
.header > .header-title {
  font-size: 32px;
  margin-bottom: 16px;
}
.header > .header-subtitle {
  font-size: 24px;
}

/* ナビゲーション */
.nav {
  margin-bottom: 64px;
}
.nav-menu {
  display: flex;
  font-size: 24px;
}
.nav-item {
  flex: 1;
  padding: 8px;
  color: #d9b44a;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-position: center;
  background-size: contain;
}
.nav-item > .profile::before,
.contents > .profile::before {
  background-image: url("../images/profile.svg");
}
.nav-item > .skills::before,
.contents > .skills::before {
  background-image: url("../images/skills.svg");
}
.nav-item > .works::before,
.contents > .works::before {
  background-image: url("../images/works.svg");
}
.nav-item > .contact::before,
.contents > .contact::before {
  background-image: url("../images/contact.svg");
}

/* メイン  */
.contents {
  margin-bottom: 64px;
}
.content-title {
  font-size: 48px;
  font-weight: bold;
  color: #d9b44a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-title::before {
  content: "";
  display: inline-block;
  width: 56px;
  height: 56px;
  margin-right: 8px;
  background-position: center;
  background-size: contain;
}

/* フッター */
.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  font-weight: bold;
  background-color: #4f6457;
  color: #fdfdfd;
}
.footer-menu {
  display: flex;
}
.footer-link {
  margin: 8px 16px;
}
