/* 全体 */
html {
  font-size: 120%;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 0.8em;
  background-color: #fdfdfd;
  color: #4f6457;
}
table {
  width: 100%;
}
th,
td {
  padding: 0.2rem;
}

/* ローディング画面 */
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #acd0d0;
  position: fixed;
  z-index: 9999;
}
.spinner {
  width: 8rem;
  height: 8rem;
  margin: 100px auto;
  background-color: #d9b44a;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* ヘッダー */
.header {
  padding: 1.2rem 1.6rem;
  font-weight: bold;
  background-color: #75b1a9;
  color: #fdfdfd;
  text-align: center;
}
.header > .header-title {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.header > .header-subtitle {
  font-size: 1.2rem;
}

/* メイン  */
.main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 64px;
}
/* ナビゲーションとコンテンツタイトル */
.nav {
  margin-bottom: 1em;
}
.nav-menu {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
.nav-item {
  padding: 0.4rem;
  color: #d9b44a;
}
.nav-link {
  display: flex;
  padding-bottom: 0.4rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0%) 3px
      no-repeat,
    linear-gradient(90deg, transparent 50%, currentColor 0) bottom /
      calc(2 * var(--d, 0%)) 3px no-repeat;
  transition: 0.5s;
}
.nav-link:hover {
  --d: 51%;
}
.nav-link::before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.4rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.nav-item > .profile::before,
.contents > .profile::before {
  background-image: url("../images/profile.svg");
}
.nav-item > .skills::before,
.contents > .skills::before {
  background-image: url("../images/skills.svg");
}
.nav-item > .works::before,
.contents > .works::before {
  background-image: url("../images/works.svg");
}
.nav-item > .contact::before,
.contents > .contact::before {
  background-image: url("../images/contact.svg");
}
/* コンテンツ全体 */
.contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}
.content-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #d9b44a;
  display: flex;
  margin-bottom: 0.8rem;
}
.content-title::before {
  content: "";
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 8px;
  background-position: center;
  background-size: contain;
}

/* コンテンツ詳細全体 */
.content-detail {
  line-height: 1.2rem;
}

/* Profile */
.profile-title {
  display: inline-block;
  width: 4rem;
}
.career-area {
  display: flex;
  padding-left: 0.4rem;
  margin-bottom: 0.4rem;
}
.career-date {
  flex: 1;
}
.career-detail {
  flex: 6;
}
.company-link:hover {
  text-decoration: underline #4f6457;
}

/* Skills */
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 100%;
  flex: 1;
  background: #acd0d0;
  border-radius: 0.4rem;
  padding: 0.8rem;
  margin: 0.8rem;
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.card-description {
  text-align: center;
  padding: 0.8rem;
}
.skills-table > tr > th,
.skills-table > tr > td {
  text-align: center;
  width: calc(100% / 3);
}
/* Works */
.works-content {
  margin-bottom: 1rem;
}
.works-content-detail {
  margin-bottom: 0.2rem;
}
/* Contact */
.contact-content {
  text-align: center;
  margin-bottom: 1rem;
}

/* フッター */
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1.6rem;
  font-weight: bold;
  background-color: #4f6457;
  color: #fdfdfd;
}
.footer-menu {
  display: flex;
}
.footer-link {
  padding: 0.4rem 0.8rem;
  background: linear-gradient(currentColor 0 0) 100% 100% / var(--d, 0%) 3px
      no-repeat,
    linear-gradient(-90deg, transparent 50%, currentColor 0) bottom /
      calc(2 * var(--d, 0%)) 3px no-repeat;
  transition: 0.5s;
}
.footer-link:hover {
  --d: 51%;
}

/* ↓スマホ（横幅550px以下）の場合 */
@media screen and (max-width: 550px) {
  html {
    /* 1rem = 50pxと再定義 */
    font-size: 80%;
  }
  .card {
    flex: initial;
  }
  .career-detail {
    flex: 5;
  }
}
